* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenitore-generale {
    width: 90%;
    margin: 0 5%;
}

/* Header della pagina */

header {
    width: 100%;
    /* regole debug */
    /* height: 100px;
    background-color: rgb(250, 144, 162); */
}

#logo {
    width: 150px;
    height: 50%;
    padding-right: 20px;
    border-right: 2px solid rgb(202, 202, 202);
}

.menu li {
    display: inline-block;
    padding-right: 10px;
    margin-top: 20px;
    color: rgb(202, 202, 202);
}

/* Corpo principale */

/* Prima parte */

.sezione1 {
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 600px;
    border-radius: 20px;
    margin: 50px 0;
    /* regole debug */
    /* width: 100%; */
    /* height: 500px;
    background-color: rgb(253, 253, 131); */
}

.introduzione-corso {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 600px;
    border-radius: 20px;
    position: relative;
}

.punti-corso {
    color: white;
    position: absolute;
    bottom: 100px;
    left: 50px;
    font-size: 30px;
    list-style-type: none;
    width: 50%;
}

#secondo-punto {
    font-size: 15px;
}

/* Seconda parte con float */

.container {
    width: 100%;
    margin: 20px auto;
    /* regole debug */
    /* background-color: rgb(47, 47, 253); */
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container-head {
    height: 100px;
    /* regole debug */
    /* background-color: cadetblue; */
}

.container-head h1 {
    font-size: 40px;
}

#sottotitolo {
    color: grey;
    font-size: 18px;
}

.colsx, .coldx {
    width: 15%;
    float: left;
    margin: 20px 0;
    /* regole debug */
    /* background-color: cadetblue; */
    /* height: 500px; */
}

#immagine-1 {
   background-image: url(../img/img-1.jpg);
   background-repeat: no-repeat;
   background-size: 250px;
   background-position: center;
   height: 200px;
   border-radius: 20px;
}

.colore-sfondo {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 200px;
    border-radius: 15px;
}

h4 {
    padding: 15px 0;
}

.paragrafo-colonne {
    color: gray;
}

#immagine-3 {
   background-image: url(../img/img-3.jpg);
   background-repeat: no-repeat;
   background-size: 290px;
   background-position: center;
   height: 200px;
   border-radius: 20px;
}

.main-text {
    float: left;
    width: 66%;
    margin: 20px 2%;
    /* regole debug */
    /* height: 500px; */
    /* background-color: cadetblue; */
}

#immagine-2 {
    background-image: url(../img/banner-2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 200px;
    border-radius: 20px;
}

/* Footer */

footer {
    height: 100px;
    background-color: rgb(158, 0, 158);
    margin-top: 20px;
}